# Test Report

## How prototype was tested

- User was created with Username as Connor and password as Genius
- User is originally asked to login (l) or create account (c)
- ![](../../../../../../var/folders/83/06c534fn271_8fgls3h66p5h0000gn/T/TemporaryItems/NSIRD_screencaptureui_K65FeW/Screen Shot 2022-10-14 at 11.02.34 PM.png)
  - If user types in login or l and create or c it would work
  - If not it would ask them again to choose
- If login:
  - It asks user for username then password
  - ![](../../../../../../var/folders/83/06c534fn271_8fgls3h66p5h0000gn/T/TemporaryItems/NSIRD_screencaptureui_u2uirj/Screen Shot 2022-10-14 at 11.04.49 PM.png)
  - Then asks whether the user wants to search for a song (s) or play a song (p) or logout (l)
    - s or song would work, p or play would work, and l or logout would work 